<html>
{% load staticfiles %}
{% load l10n %}
{% load i18n %}
<head>
    <title>Ошибка!</title>
</head>
<body>
<table width=100% height=100%>
    <tr>
        <td width=100% height=100% align="center">
            <table>
                <tr>
                    <td style="text-align: justify; max-width: 400px">
                        <p>
                            <b>
                                {% if errno == 500 %}
                                    Прозошла ошибка в работе программного обеспечения портала.
                                    Все ошибки автоматически регистрируются на сервере.
                                    Администраторы сайта вскоре предпримут меры для устранения ошибки.
                                    Для ускорения данного процесса сообщите об ошибке по e-mail:
                                    <p style="text-align: center;"><a href="mailto:special-admin@mss.fso">special-admin@mss.fso</a>
                                {% elif  errno ==  403 or errno ==  404 %}
                                    Запрашиваемая страница не найдена или у Вас нет прав доступа к ней.
                                {% else %}
                                    Произошел сбой подключения. Повторите данную операцию позднее.
                                        Все ошибки автоматически регистрируются на сервере.
                                    Администраторы сайта вскоре предпримут меры для устранения ошибки.
                                    Для ускорения данного процесса сообщите об ошибке по e-mail:
                                    <p style="text-align: center;"><a href="mailto:special-admin@mss.fso">special-admin@mss.fso</a>
                                {% endif %}
                            </b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="{% static "img/error.jpg" %}" alt="Ошибка">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>