
<span class="mif-users mif-4x place-right" style="margin-top: -10px;"></span>
<h2 class="text-light" style="overflow: hidden">{% if rec.alias %}{{ rec.alias }}{% else %}{{ rec.username }}{% endif %}</h2>
<hr class="thin mt-4 mb-4 bg-white">
<div class="form-group">

    <table class="about_user">
        <tr>
            <td height="1px" width="260px" style="position: relative">
                <ul data-role="tabs" data-tabs-position="vertical" class="vertical tabs-expand-fs" data-role-tabs="true" style="max-width: 220px">
                    <li><a href="#_target_0">Общая информация</a></li>
                    <li><a href="#_target_1">Изменить агент</a></li>
                    <li><a href="#_target_2">Информация о сертификате</a></li>
                    <li><a href="#_target_4">Выгнать пользователя</a></li>
                    <li><a href="#_target_5">Последние изменения</a></li>
                </ul>
            </td>
            <td>
                <div class="border bd-default no-border-left p-2">
                    <div id="_target_0" class="targets">
                        <p style="text-align: right">
                            {% if port_vnc %}
                                <span data-role="hint" data-hint-text="VNC connected from <b>{{ author_vnc.uname }}</b>" class="mif-settings-ethernet icon fg-green mif-3x"
                                      style="cursor: pointer; margin-right: 5px" onclick="vnctab('{{ port_vnc }}');"></span>
                            {% else %}
                                <span data-role="hint" data-hint-text="Create VNC connection" class="mif-settings-ethernet icon fg-red mif-3x"
                                      style="cursor: pointer; margin-right: 5px" onclick="actionsVNCMinion({{ rec.id }});"></span>
                            {% endif %}
                        </p>
                        <p>Last IP: <mark>{{ rec.current_ip }}</mark></p>
                        <p>Date creation: <mark>{{ rec.register_tstamp|date:"d.m.Y H:i" }}</mark></p>
                        <p>Last Activity: <mark>{{ rec.lastactivity_tstamp|date:"d.m.Y H:i" }}</mark></p>
                        <p>Soft version: <mark>{{ rec.version }}</mark></p>
                    </div>
                    <div id="_target_1" style="min-height: 90px" class="targets">
                        <form
                                data-role="validator"
                                action="javascript:"
                                data-clear-invalid="2000"
                                data-on-error-form="invalidForm"
                                data-on-validate-form="validateForm" style="padding-left: 15px">
                            <div class="remark alert notshow" id="append_error">
                                Имя пользователя должно содержать только буквы и цифры
                            </div>
                            {% csrf_token %}
                            <input {% if rec.alias %}value="{{ rec.alias }}"{% else %}value="{{ rec.username }}"{% endif %} name="grname" id="grname" type="text" data-role="input" data-prepend="<span class='mif-pencil'>" placeholder="Введите имя..." data-validate="required">
                            <ul style="list-style: none; margin: 10px 0 0 0;">
                                <li id="tree_li" class="tree_li about" style="padding-left: 10px">
                                    {% include "GroupSelectorTree.html" %}
                                </li>
                            </ul>
                            <input type="hidden" name="group_id" id="group_id" value="">
                            <div style="text-align: right; margin-top: 10px">
                                <button class="button alert">Применить</button>
                            </div>
                        </form>
                    </div>
                    <div id="_target_2" class="targets">
                        {% if x509 %}
                            {% load ttags %}
                            <p>Валиден: {% if x509valid %}
                                <mark>{{ x509.get_notBefore|x509timestamp|date:"d.m.Y H:i" }} - {{ x509.get_notAfter|x509timestamp|date:"d.m.Y H:i" }}</mark>
                            {% else %}
                                <mark class="error">Не валиден</mark>
                            {% endif %}
                            </p>
                            <p>Subject: <mark>/O={{ x509.get_subject.O }}/CN={{ x509.get_subject.CN }}</mark></p>
                        {% endif %}
                        <div style="text-align: right; margin-top: 10px">
                            <button class="button alert" id="reSignX509" onclick="reSignX509()">Перевыпустить</button>
                        </div>
                    </div>
                    <div id="_target_4" class="targets">
                        <h4 style="font-weight: 300; font-size: 1rem;">Данное действие необратимо! После удаления записи вы больше не сможете управлять агентом и просматривать его статус</h4>
                        <form
                                id="crlform"
                                action="javascript:"
                                style="margin-top: 20px"
                                data-on-validate-form="validateCRL"
                                data-role="validator"
                                data-clear-invalid="2000"
                                data-on-error-form="invalidForm"
                        >
                            <div class="form-group" style="padding-left: 10px">
                                <input name="pin" id="pin" type="password" data-role="input" data-validate="required" data-prepend="<span class='mif-key'>" placeholder="Введите pass phrase...">
                                {% csrf_token %}
                            </div>
                            <div class="form-group" style="margin-top: 10px">
                                <button class="button alert place-right">Подтвердить</button>
                            </div>
                        </form>
                    </div>
                    <div id="_target_5" class="targets">
                        TODO: working in progress
                    </div>
                </div>

            </td>
        </tr>
    </table>
</div>

<div class="dialog-actions text-right" style="padding-right: 5px"><button class="button js-dialog-close">Закрыть</button></div>

<style type="text/css">
    .bd-default {
        width: 630px;
    }

    .bd-default div.targets {
        min-height: 208px;
    }

    .tabs-expand-fs {
        position: absolute;
        left: 0;
        top: 0;
    }

    .vertical.tabs-expand-fs {
        min-height: 100%;
        height: 100%;
    }

    .about_user td {
        vertical-align: top;
    }

    mark.error {
        background-color: #ff00001a;
    }

</style>

<script>
    function validateCRL() {
        var form  = $(this);
        var data = form.serialize();
        $('.dialog-content').html(progress);
        $.ajax({
            url: '/removeagent/'+'{{ rec.id }}'+'/',
            method: 'POST',
            data: data,
            success: function() {
                update_minion_table();
                Metro.dialog.close('.dialog');
            },
            error: function() {
                $('.dialog').html(progresserror+progressclose);
            }
        });
    }

    function vnctab(url) {
        var win = window.open(url, '_blank');
        win.focus();
    }

    function nodeinclick(node, tree) {
    }

    function reSignX509() {
        Metro.dialog.create({
            overlay: true,
            clsDialog: 'showTop x509d',
            width: 450,
            overlayClickClose: 'true',
            content: function() {
                $.ajax({
                    url: '/updatecert/'+'{{ rec.id }}'+'/',
                    success: function(data) {
                        $('.x509d').html(data);
                    },
                    error: function() {
                        $('.x509d').html(progresserror);
                    }
                });
                return progress
            },
            actions: [
                {
                    caption: "Отмена",
                    cls: "js-dialog-close place-right",
                },
                {
                    caption: "Перевыпустить",
                    cls: "js-dialog-close alert",
                }
            ]
        });
    }

    function validateForm()
    {
        $('#append_error').addClass('notshow');
        let text = $('#grname').val().replace(/[^а-яА-Я\s_0-9a-zA-Z]*/g, '');
        if ($('#grname').val() === text && text !== 'Ожидают авторизации') {
            let form  = $(this);
            $.ajax({
                method: 'POST',
                data: form.serialize(),
                url: '/about/' + {{ rec.id }} + '/',
                success: function(data) {
                    update_minion_table();
                    Metro.dialog.close('.dialog');
                },
                error: function() {
                    $('.dialog-actions ').removeClass('notshow');
                    $('.dialog-content').html(progresserror);
                }
            });
        } else {
            $('#append_error').removeClass('notshow');
            var form  = $(this);
            form.addClass("ani-ring");
            setTimeout(function(){
                form.removeClass("ani-ring");
            }, 1000);
        }
    }

    $('.tabs').removeClass('tabs-list').addClass('vertical').addClass('tabs-expand-fs');
</script>