<div class="row flex-justify-between flex-nowrap ml-0 mr-0">
    <input type="hidden" id="searchS" value="{{ search }}">
    <div class="no-wrap" style="width: 75%">
        <select id="group_selector">
            <option value="0"></option>
            {% for rec in groups %}
                <option value="{{ rec.id }}" {% if group == rec.id %}selected{% endif %}>{{ rec.alias }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="no-wrap " style="width: 25%">
        <div id="table-actions" style="text-align: right">
            <input type="checkbox" {% if filtered %}checked{% endif %} class=""
                   data-role="switch" id="filter"
                   data-caption="Show inactive users"
                   onclick="$(this).is(':checked') ? tableFuncs.removeArchiveFilter() : tableFuncs.addArchiveFilter()">
        </div>
    </div>
</div>

    <table id="minion-table" class="table striped table-border mt-4" data-role="table"
       data-show-all-pages="false" data-pagination="true"  data-on-draw="draw" data-on-table-create="tablecreate"
       data-cls-rows-count="notshow" data-cls-search="cell-search" data-rows="25">
    <thead>
    <tr>
        <th class="sortable-column sort-asc">Name</th>
        <th class="sortable-column sort-desc">Group</th>
        <th class="sortable-column">USYS version</th>
        <th class="sortable-column">OS</th>
        <th class="sortable-column">Creation date</th>
        <th class="sortable-column">State</th>
    </tr>
    </thead>
    <tbody>
    {% include "minion_table.html" %}
    </tbody>
    <tfoot>
    <tr>
        <th>Name</th>
        <th>Group</th>
        <th>USYS version</th>
        <th>OS</th>
        <th>Creation date</th>
        <th>State</th>
    </tr>
    </tfoot>
</table>