<form
        data-role="validator"
        id="x509form"
        action="javascript:"
        data-clear-invalid="2000"
        data-on-error-form="invalidForm"
        data-on-validate-form="validateForm">
    <span class="mif-key mif-4x place-right" style="margin-top: -10px;"></span>
    <h2 class="text-light">{% if grset|length > 0 %}Перевыпуск сертификата{% else %}Подключение пользователя к группе{% endif %}</h2>
    <hr class="thin mt-4 mb-4 bg-white">
    <div class="form-group">
        <div class="remark alert notshow" id="append_error">
            Укажите группу пользователя
        </div>
        <input name="pin" id="pin" type="password" data-role="input" data-validate="required" data-prepend="<span class='mif-key'>" placeholder="Введите pass phrase...">
        {% csrf_token %}
        <input type="hidden" name="path" id="data_path1" value="">
        <ul style="list-style: none; margin: 10px 0 0 0;">
            <li id="tree_li" class="tree_li about">
                {% include "GroupSelectorTree.html" %}
            </li>
        </ul>
    </div>
    <div class="form-group mt-10">
        <a href="#" class="button place-right js-dialog-close">Отмена</a>
        <button class="button alert">Подтвердить</button>
        {% if grset|length == 0 %}
            <button class="button remove ml-5" id="removeagent">Удалить запрос</button>
        {% endif %}
    </div>
</form>

<script>
    var width = $('#x509form').parent().parent().width();
    var left = $('#x509form').parent().parent().position().left;
    if (width > 448 && !$('#x509form').parent().hasClass('x509d')) {
        $('#x509form').parent().parent().css('width', '450px');
        $('#x509form').parent().parent().css('left', left + 225 + 'px');
    }
    {% if grset|length > 0 %}
        $('.tree_li.about').addClass('notshow');
    {% endif %}
    {%  for val in grset %}
        $('.tree_li.about *[data-path="{{ val.id }}"]').addClass('current');
        $('#data_path1').val('{{ val.id }}');
    {% endfor %}
</script>


<script>
    if (document.getElementById('removeagent'))
    document.getElementById('removeagent').addEventListener(
        'click', removeReq, false
    );
    function removeReq(evt) {
        evt.preventDefault();
        $('.dialog-content').html(progress);
        $.ajax({
            url: '/removereq/'+'{{ minion.id }}'+'/',
            success: function() {
                update_minion_table();
                Metro.dialog.close('.dialog');
            },
            error: function() {
                $('.dialog-content').html(progresserror+progressclose);
            }
        });
    }

    function nodeinclick(node, tree) {
        $('#data_path1').val($(node).attr('data-path'));
    }

    function validateForm()
    {
        var text = $('#data_path1').val();
        if (text !== '') {
            var form  = $(this);
            var data = form.serialize();
            if ($('.x509d').length > 0)
                $('.x509d').html(progress);
            else
                $('.dialog-content').html(progress);
            $.ajax({
                method: 'POST',
                data: data,
                url: '/updatecert/{{ minion.id }}/',
                success: function(data) {
                    update_minion_table();
                    if ($('.x509d').length > 0)
                        Metro.dialog.close('.x509d');
                    else
                        Metro.dialog.close('.dialog');
                },
                error: function() {
                    if ($('.x509d').length > 0)
                        $('.x509d').html(progresserror+"<div class=\"dialog-actions text-right\" style=\"padding-right: 5px\"><button class=\"button js-dialog-close\">Закрыть</button></div>");
                    else
                        $('.dialog-content').html(progresserror+"<div class=\"dialog-actions text-right\" style=\"padding-right: 5px\"><button class=\"button js-dialog-close\">Закрыть</button></div>");
                }
            });
        } else {
            $('#append_error').removeClass('notshow');
            var form  = $(this);
            form.addClass("ani-ring");
            setTimeout(function(){
                form.removeClass("ani-ring");
            }, 1000);
        }
    }
</script>