<!DOCTYPE html>
{% load staticfiles %}
{% load l10n %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="Калькулятор раскроя" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "SiteName"%}</title>
    <link href="{% static "favicon.ico" %}" rel="icon" type="image/icon">
    <link href="{% static "css/metro-all.min.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/index.css" %}" type="text/css" rel="stylesheet">
    <script src="{% static "js/jquery-3.3.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/metro.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/index.js" %}" type="text/javascript"></script>
</head>
<body class="lang-{{ LANGUAGE_CODE }}">
<table class="main">
    <tr><td colspan="2">
        USystem
        {% comment %}
        <ul class="h-menu">
            <li><a href="#">Home</a></li>
            <li>
                <a href="#" class="dropdown-toggle">Products</a>
                <ul class="d-menu" data-role="dropdown">
                    <li>
                        <a href="#" class="dropdown-toggle">Windows</a>
                        <ul class="d-menu" data-role="dropdown">
                            <li><a href="#">Windows 10</a></li>
                            <li><a href="#">Windows Server</a></li>
                            <li class="divider"></li>
                            <li><a href="#">MS-DOS</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Skype</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Office</a></li>
                </ul>
            </li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
        {% endcomment %}
    </td></tr>
    <tr>
        <td class="v-menu-td">
            <ul class="v-menu">
                <li class="menu-title">General</li>
                <li id="tree_li" class="tree_li" style="padding-left: 10px">
                    {% comment %}
                    <div class="input no-wrap" style="width: 75%" id="group_section">
                        {% include "groupselector.html" %}
                    </div>
                    {% endcomment %}
                    {% include "GroupSelectorTree.html" %}
                </li>
                <li class="menu-title">Products</li>
                <li><a href="#"><span class="mif-settings-ethernet icon"></span> UConnect</a></li>
                <li><a href="#"><span class="mif-display icon"></span> UMonitor</a></li>
                <li><a href="#"><span class="mif-tree icon"></span> UDiscovery</a></li>
                <li><a href="#"><span class="mif-magic-wand icon"></span> UAutomate</a></li>
                <li><a href="#"><span class="mif-tools icon"></span> UDesk</a></li>
                <li class="menu-title">Support</li>
                <li>
                    <a href="#"><span class="mif-organization icon"></span>Community</a>
                    <ul class="v-menu" data-role="dropdown">
                        <li><a href="#">UConnect</a></li>
                        <li><a href="#">UMonitor</a></li>
                    </ul>
                </li>
            </ul>
        </td>
        <td>
            {% block page %}{% endblock %}
        </td>
    </tr>
</table>
</body>
</html>
