{% extends "index.html" %}

{% load staticfiles %}
{% load l10n %}
{% load i18n %}

{% block page %}
    <div class="container">

        <div class="controls">
            <button class="button">Add group</button>
            <button class="button">Remove group</button>
            <button class="button">Rename group</button>
            <button class="button">Add user to group</button>
            <button class="button">Remove user from group</button>
            <button class="button" onclick="actionsDemo()">Actions</button>
        </div>

        {% comment %}
        <div class="d-flex flex-justify-center" id="activity">
            <div data-role="activity" data-type="cycle" data-style="color"></div>
        </div>
        {% endcomment %}

        <div id="minion-table-container">
            <div class="row flex-justify-between flex-nowrap ml-0 mr-0">
                <div class="no-wrap" style="width: 75%">
                    <select id="group_selector">
                        <option value="0"></option>
                        {% for rec in groups %}
                            <option value="{{ rec.id }}">{{ rec.alias }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="no-wrap " style="width: 25%">
                    <div id="table-actions" style="text-align: right">
                        <input type="checkbox" class=""
                               data-role="switch" id="filter" data-on-table-create="tablecreate"
                               data-caption="Show inactive users"
                               onclick="$(this).is(':checked') ? tableFuncs.removeArchiveFilter() : tableFuncs.addArchiveFilter()">
                    </div>
                </div>
            </div>
            <table id="minion-table" class="table striped table-border mt-4" data-role="table"
                   data-show-all-pages="false" data-pagination="true"  data-on-draw="draw" data-on-table-create="tablecreate"
                   data-cls-rows-count="notshow" data-cls-search="cell-search" data-rows="25">
                <thead>
                <tr>
                    <th class="sortable-column sort-asc">Name</th>
                    <th class="sortable-column sort-desc">Group</th>
                    <th class="sortable-column">USYS version</th>
                    <th class="sortable-column">OS</th>
                    <th class="sortable-column">Creation date</th>
                    <th class="sortable-column">State</th>
                </tr>
                </thead>
                <tbody>
                {% include "minion_table.html" %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Group</th>
                    <th>USYS version</th>
                    <th>OS</th>
                    <th>Creation date</th>
                    <th>State</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <script>
        let tableFuncs = {
            archiveFilterIndex: 0,
            addArchiveFilter: function () {
                let entities_table = $("#minion-table");
                let table;

                if (entities_table.length === 0) {
                    return;
                }
                table = entities_table.data("table");
                this.archiveFilterIndex = table.addFilter(function (row) {
                    return row[5] === '<span class="fg-green mif-checkmark"></span>';
                }, true);
            },
            removeArchiveFilter: function () {
                let entities_table = $("#minion-table");
                let table;

                if (entities_table.length === 0) {
                    return;
                }
                table = entities_table.data("table");
                table.removeFilter(this.archiveFilterIndex, true);
            },
            addGroupFilter: function () {
                let entities_table = $("#minion-table");
                let table;

                if (entities_table.length === 0) {
                    return;
                }
                table = entities_table.data("table");
                this.archiveFilterIndex = table.addFilter(function (row) {
                    let html = row[1].substring(row[1].indexOf('value=')+7);
                    html = html.substring(0, html.indexOf('"'));
                    return parseInt(html) === parseInt($('#group_selector').val());
                }, true);
            },
            removeGroupFilter: function () {
                let entities_table = $("#minion-table");
                let table;

                if (entities_table.length === 0) {
                    return;
                }
                table = entities_table.data("table");
                table.removeFilter(this.addGroupFilter, true);
            }
        };
    </script>

{% endblock %}