{% for rec in minion %}
    <tr>
                <td>{% if rec.alias %}{{ rec.alias }}{% else %}{{ rec.username }}{% endif %}
                    <input type="hidden" value="{{ rec.id }}" class="username">
                </td>
                <td>{% for foo in rec.user2group_set.all %}
                    {{ foo.group.alias }} <input class="groupid" type="hidden" value="{{ foo.group_id }}">
                {% endfor %}</td>
                <td>{{ rec.version }}</td>
                <td>{% for foo in rec.programm_set.all %}
                    {% if foo.classname_id == 1 and foo.name == 'win' %}
                        <span class='mif-windows'></span>
                    {% else %}
                        <span class='mif-linux'></span>
                    {% endif %}
                {% endfor %}</td>
                <td>{{ rec.register_tstamp|date:"d.m.Y" }}</td>
                <td>{% if rec.isactive %}<span class="fg-green mif-checkmark"></span>{% else %}<span class="fg-red mif-minus"></span>{% endif %}</td>
    </tr>
{% endfor %}