{% load ttags %}
<p>OS Name: <mark>{{ wmiinfo.osname }}</mark></p>
<p>OS Version: <mark>{{ wmiinfo.osversion }}</mark></p>
<p>Process: <mark>{{ wmiinfo.proc_info }}</mark></p>
<p>Free RAM: <mark>{{ wmiinfo.free_ram|kbytes_2_human_readable }} from {{ wmiinfo.system_ram|kbytes_2_human_readable }}</mark></p>
<p>Domain: <mark>{{ wmiinfo.domain }}</mark></p>
<p>Computer name: <mark>{{ wmiinfo.name }}</mark></p>
<p>Logged in username: <mark>{{ wmiinfo.username }}</mark></p>
<p>CPU load: <mark>{{ wmiinfo.cpu_load }}</mark></p>
<p>Drive:</p>
{% for rec in wmidrive %}
    <p>{{ rec.caption }} {{ rec.free|bytes_2_human_readable }} {{ rec.size|bytes_2_human_readable }} {{ rec.drivetype.caption }}</p>
{% endfor %}
<p>GPU:</p>
{% for rec in wmigpu %}
    <p>{{ rec.caption }}</p>
{% endfor %}
<p>NetDrive</p>
{% for rec in wmiipinfo %}
    <p>{{ rec.netdrive.caption }} {{ rec.ipaddr }} {{ rec.macaddr }}</p>
{% endfor %}
