.main {
    width: 100%;
}

.v-menu {
    width: 300px
}

.h-menu {
    margin-left: 300px;
}

.tree-checked {
    font-weight: bold;
}

.notshow {
    display: none;
}

#minion-table tbody tr {
    cursor: pointer;
}