.main {
    width: 100%;
}

.v-menu {
    width: 300px
}

.h-menu {
    margin-left: 300px;
}

.tree-checked {
    font-weight: bold;
}

.notshow, .column-name-id, .column-name-group_id, .foot-column-name-group_id, .foot-column-name-id {
    display: none !important;
}

.showTop {
    top: 10% !important;
}

#minion-table tbody tr {
    cursor: pointer;
}

.controls {
    margin-bottom: 25px;
}

.controls .button {
    margin-right: 10px;
}

.v-menu-td {
    vertical-align: top;
    width: 300px;
}