.main {
    width: 100%;
}

.x509d {
    padding: 20px;
}

.v-menu {
    width: 300px
}

.h-menu {
    margin-left: 300px;
}

.tree-checked {
    font-weight: bold;
}

.notshow, .column-name-id, .column-name-group_id, .foot-column-name-group_id, .foot-column-name-id {
    display: none !important;
}

.showTop {
    top: 10% !important;
}

#minion-table tbody tr {
    cursor: pointer;
}

.controls {
    margin-bottom: 25px;
}

.controls .button {
    margin-right: 10px;
}

.v-menu-td {
    vertical-align: top;
    width: 300px;
}

.v-menu .tree_li, .v-menu .tree_li li  {
    background-color: white !important;
}

.v-menu .tree_li li.current, .v-menu .tree_li li.current li, li.tree_li.about li.current {
    background-color: rgb(236, 236, 236) !important;
}

.treeview {
    overflow-y: auto;
    max-height: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li.tree_li.about .treeview {
    overflow-y: auto;
    max-height: 248px;
    padding-top: 0;
    padding-bottom: 0;
}
