<!DOCTYPE html>
<html>
<head>
    <title>USystem</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-startup-image" href="images/screen_320x460.png" />
    <link rel="apple-touch-icon" href="images/screen_57x57.png">
    <link rel="stylesheet" href="include/base.css" title="plain">
    <script src="include/util.js"></script>
    <script>
        var curdisp = 1;
        function changeDisplay() {
            var w = parseInt(document.getElementById("noVNC_canvas").clientWidth);
            var h = parseInt(document.getElementById("noVNC_canvas").clientHeight);
            var size_array = [
                {w:2880, h:1800},
                {w:3200, h:1800},
                {w:2560, h:1600},
                {w:2048, h:1536},
                {w:2560, h:1440},
                {w:1920, h:1200},
                {w:1600, h:1200},
                {w:2048, h:1152},
                {w:1920, h:1080},
                {w:1680, h:1050},
                {w:1400, h:1050},
                {w:1280, h:1024},
                {w:1280, h:960},
                {w:1600, h:900},
                {w:1440, h:900},
                {w:1152, h:864},
                {w:1280, h:800},
                {w:1366, h:768},
                {w:1024, h:768},
                {w:1280, h:720},
                {w:1136, h:640},
                {w:1024, h:600},
                {w:800, h:600},
                {w:1024, h:576},
                {w:960, h:540},
                {w:720, h:540},
                {w:640, h:480},
                {w:854, h:480},
                {w:512, h:384},
                {w:640, h:360},
                {w:480, h:360}
            ];

            var display1 = {w:0, h:0};
            var display2 = {w:0, h:0};
            var maxdisp = 1;
            for(var i=0; i<size_array.length;i++)
            {
                if (size_array[i].h == h)
                {
                    display1.w = size_array[i].w;
                    display1.h = size_array[i].h;
                    var tempw = w - display1.w;
                    if (tempw > 0)
                    {
                        maxdisp = 2;
                        for(var j=0; j<size_array.length;j++)
                        {
                            if (size_array[j].w == tempw)
                            {
                                display2.w = size_array[j].w;
                                display2.h = size_array[j].h;
                                if (tempw - display2.w == 0)
                                    break;
                            }
                        }
                    }
                }
            }

            if (curdisp < maxdisp)
            {
                document.getElementById("noVNC_screen").style.marginLeft =  -1 * display1.w + 'px';
                document.getElementById("noVNC_screen").style.maxWidth = '10000px';
                curdisp += 1;
            } else
            {
                document.getElementById("noVNC_screen").style.marginLeft =  '0px';
                document.getElementById("noVNC_screen").style.maxWidth = display1.w + 'px';
                curdisp = 1;
            }
        }

        function myResize()
        {

        }

        $( document ).ready(function() {
            myResize();
        });
    </script>
    <style>
        body {
            //overflow: hidden;
        }
        #sendCtrlAltDelButton {
            display: none !important;
        }
    </style>
</head>

<body style="margin: 0px;">
<div id="noVNC_screen">
    <div id="noVNC_status_bar" class="noVNC_status_bar" style="margin-top: 0px;">
        <table border=0 width="100%"><tr>
            <td><div id="noVNC_status" style="position: relative; height: auto;">
                Loading
            </div></td>
            <td width="1%"><div id="noVNC_buttons">
                <input type=button value="Send CtrlAltDel"
                       id="sendCtrlAltDelButton">
                <input type=button value="ChangeDisplay"
                       id="ChangeDisplay" onclick="changeDisplay()">
                <span id="noVNC_xvp_buttons">
                        <input type=button value="Shutdown"
                               id="xvpShutdownButton">
                        <input type=button value="Reboot"
                               id="xvpRebootButton">
                        <input type=button value="Reset"
                               id="xvpResetButton">
                        </span>
            </div></td>
        </tr></table>
    </div>
    <canvas id="noVNC_canvas" width="640px" height="20px">
        Canvas not supported.
    </canvas>
</div>
<script>
    /*jslint white: false */
    /*global window, $, Util, RFB, */
    "use strict";

    // Load supporting scripts
    Util.load_scripts(["webutil.js", "base64.js", "websock.js", "des.js",
        "keysymdef.js", "keyboard.js", "input.js", "display.js",
        "jsunzip.js", "rfb.js", "keysym.js"]);

    var rfb;

    function passwordRequired(rfb) {
        setPassword();
    }
    function setPassword() {
        rfb.sendPassword('********');
        return false;
    }
    function sendCtrlAltDel() {
        rfb.sendCtrlAltDel();
        return false;
    }
    function xvpShutdown() {
        rfb.xvpShutdown();
        return false;
    }
    function xvpReboot() {
        rfb.xvpReboot();
        return false;
    }
    function xvpReset() {
        rfb.xvpReset();
        return false;
    }
    function updateState(rfb, state, oldstate, msg) {
        var s, sb, cad, level;
        s = $D('noVNC_status');
        sb = $D('noVNC_status_bar');
        cad = $D('sendCtrlAltDelButton');
        switch (state) {
            case 'failed':       level = "error";  break;
            case 'fatal':        level = "error";  break;
            case 'normal':       level = "normal"; break;
            case 'disconnected': level = "normal"; break;
            case 'loaded':       level = "normal"; break;
            default:             level = "warn";   break;
        }

        if (state === "normal") {
            cad.disabled = false;
        } else {
            cad.disabled = true;
            xvpInit(0);
        }

        if (typeof(msg) !== 'undefined') {
            sb.setAttribute("class", "noVNC_status_" + level);
            s.innerHTML = msg;
        }
    }

    function xvpInit(ver) {
        var xvpbuttons;
        xvpbuttons = $D('noVNC_xvp_buttons');
        if (ver >= 1) {
            xvpbuttons.style.display = 'inline';
        } else {
            xvpbuttons.style.display = 'none';
        }
    }

    window.onscriptsload = function () {
        var host, port, password, path, token;

        $D('sendCtrlAltDelButton').style.display = "inline";
        $D('sendCtrlAltDelButton').onclick = sendCtrlAltDel;
        $D('xvpShutdownButton').onclick = xvpShutdown;
        $D('xvpRebootButton').onclick = xvpReboot;
        $D('xvpResetButton').onclick = xvpReset;

        WebUtil.init_logging(WebUtil.getQueryVar('logging', 'warn'));
        //GONCH comment
        document.title = unescape(WebUtil.getQueryVar('title', 'UConnect'));
        // By default, use the host and port of server that served this file
        host = WebUtil.getQueryVar('host', window.location.hostname);
        port = WebUtil.getQueryVar('port', window.location.port);

        // if port == 80 (or 443) then it won't be present and should be
        // set manually
        if (!port) {
            if (window.location.protocol.substring(0,5) == 'https') {
                port = 443;
            }
            else if (window.location.protocol.substring(0,4) == 'http') {
                port = 80;
            }
        }

        // If a token variable is passed in, set the parameter in a cookie.
        // This is used by nova-novncproxy.
        token = WebUtil.getQueryVar('token', null);
        if (token) {
            WebUtil.createCookie('token', token, 1)
        }

        password = WebUtil.getQueryVar('password', '');
        path = WebUtil.getQueryVar('path', 'websockify');

        if ((!host) || (!port)) {
            updateState('failed',
                "Must specify host and port in URL");
            return;
        }

        rfb = new RFB({'target':       $D('noVNC_canvas'),
            'encrypt':      WebUtil.getQueryVar('encrypt',
                (window.location.protocol === "https:")),
            'repeaterID':   WebUtil.getQueryVar('repeaterID', ''),
            'true_color':   WebUtil.getQueryVar('true_color', true),
            'local_cursor': WebUtil.getQueryVar('cursor', true),
            'shared':       WebUtil.getQueryVar('shared', true),
            'view_only':    WebUtil.getQueryVar('view_only', false),
            'onUpdateState':  updateState,
            'onXvpInit':    xvpInit,
            'onPasswordRequired':  passwordRequired});
        rfb.connect(host, port, password, path);
    };
</script>

</body>
</html>
